</main>
<div class="mb-4">
<h3>Debug</h3>
<pre>
    <%= JSON.stringify(user, null, 2); %>
</pre>
</div> 

<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; All Rights Reserved. <%= new Date().getFullYear() %> Wardrobe Catalog</p></div>
</footer>